/* MadCap Table Style: */

/*<meta Version="9" />*/

@media print
{
	mcTableStyle
	{
		margin-left: 0.5in;
		margin-top: 0.8em;
		margin-bottom: 0.8em;
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		font-size: 95%;
		font-family: 'Courier New';
		font-weight: normal;
		font-style: normal;
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	name: code_window;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #757575;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #757575;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #757575;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #757575;
	cell-padding-left: 10px;
	cell-padding-right: 5px;
	cell-padding-top: 10px;
	cell-padding-bottom: 10px;
	border-spacing-y: 0;
	border-spacing-x: 0;
	max-id: 3;
	background-color: #e9edf2;
	margin-left: 20px;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #d2d2d2;
	font-size: 95%;
	font-family: 'Courier New';
	font-weight: normal;
	font-style: normal;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #d2d2d2;
	name: Header1;
	id: 2;
	background-color: #d2d2d2;
	font-weight: bold;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #d2d2d2;
	background-color: #eff5ff;
	font-size: 95%;
	font-family: 'Courier New';
	font-style: normal;
	name: Body1;
	id: 1;
	page-break-inside: auto;
	column-break-inside: auto;
}

mcTableFootStyle
{
	span: 0;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-code_window
	{
		margin-left: 0.5in;
		margin-top: 0.8em;
		margin-bottom: 0.8em;
		border-spacing: 0px 0px;
	}
}

.TableStyle-code_window
{
	border-collapse: collapse;
	background-color: #e9edf2;
	border-left-style: solid;
	border-left-color: #757575;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #757575;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #757575;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #757575;
	border-bottom-width: 1px;
	margin-left: 20px;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
	border-spacing: 0px 0px;
}

.TableStyle-code_window-Column-Column1
{
	
}

.TableStyle-code_window-Head-Header1
{
	
}

.TableStyle-code_window-HeadI-Column1-Header1
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Courier New';
	font-size: 95%;
	font-style: normal;
	font-weight: bold;
	background-color: #d2d2d2;
}

.TableStyle-code_window-HeadI-Column1-Header1 p
{
	font-family: 'Courier New';
	font-size: 95%;
	font-style: normal;
	font-weight: bold;
}

.TableStyle-code_window-HeadE-Column1-Header1
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Courier New';
	font-size: 95%;
	font-style: normal;
	border-right-width: 1px;
	border-right-color: #d2d2d2;
	border-right-style: solid;
	font-weight: bold;
	background-color: #d2d2d2;
	border-bottom-width: 1px;
	border-bottom-color: #d2d2d2;
	border-bottom-style: solid;
}

.TableStyle-code_window-HeadE-Column1-Header1 p
{
	font-family: 'Courier New';
	font-size: 95%;
	font-style: normal;
	font-weight: bold;
}

.TableStyle-code_window-HeadF-Column1-Header1
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Courier New';
	font-size: 95%;
	font-style: normal;
	font-weight: bold;
	background-color: #d2d2d2;
	border-bottom-width: 1px;
	border-bottom-color: #d2d2d2;
	border-bottom-style: solid;
}

.TableStyle-code_window-HeadF-Column1-Header1 p
{
	font-family: 'Courier New';
	font-size: 95%;
	font-style: normal;
	font-weight: bold;
}

.TableStyle-code_window-HeadH-Column1-Header1
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Courier New';
	font-size: 95%;
	font-style: normal;
	border-right-width: 1px;
	border-right-color: #d2d2d2;
	border-right-style: solid;
	font-weight: bold;
	background-color: #d2d2d2;
}

.TableStyle-code_window-HeadH-Column1-Header1 p
{
	font-family: 'Courier New';
	font-size: 95%;
	font-style: normal;
	font-weight: bold;
}

.TableStyle-code_window-HeadD-Column1-Header1
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Courier New';
	font-size: 95%;
	font-style: normal;
	font-weight: bold;
	background-color: #d2d2d2;
	border-bottom-width: 1px;
	border-bottom-color: #d2d2d2;
	border-bottom-style: solid;
}

.TableStyle-code_window-HeadD-Column1-Header1 p
{
	font-family: 'Courier New';
	font-size: 95%;
	font-style: normal;
	font-weight: bold;
}

.TableStyle-code_window-HeadC-Column1-Header1
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Courier New';
	font-size: 95%;
	font-style: normal;
	font-weight: bold;
	background-color: #d2d2d2;
}

.TableStyle-code_window-HeadC-Column1-Header1 p
{
	font-family: 'Courier New';
	font-size: 95%;
	font-style: normal;
	font-weight: bold;
}

.TableStyle-code_window-HeadB-Column1-Header1
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Courier New';
	font-size: 95%;
	font-style: normal;
	border-right-width: 1px;
	border-right-color: #d2d2d2;
	border-right-style: solid;
	font-weight: bold;
	background-color: #d2d2d2;
}

.TableStyle-code_window-HeadB-Column1-Header1 p
{
	font-family: 'Courier New';
	font-size: 95%;
	font-style: normal;
	font-weight: bold;
}

.TableStyle-code_window-HeadA-Column1-Header1
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Courier New';
	font-size: 95%;
	font-style: normal;
	font-weight: bold;
	background-color: #d2d2d2;
}

.TableStyle-code_window-HeadA-Column1-Header1 p
{
	font-family: 'Courier New';
	font-size: 95%;
	font-style: normal;
	font-weight: bold;
}

.TableStyle-code_window-HeadG-Column1-Header1
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Courier New';
	font-size: 95%;
	font-style: normal;
	font-weight: bold;
	background-color: #d2d2d2;
}

.TableStyle-code_window-HeadG-Column1-Header1 p
{
	font-family: 'Courier New';
	font-size: 95%;
	font-style: normal;
	font-weight: bold;
}

.TableStyle-code_window-Foot-Footer1
{
	
}

.TableStyle-code_window-FootI-Column1-Footer1
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Courier New';
	font-size: 95%;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-code_window-FootI-Column1-Footer1 p
{
	font-family: 'Courier New';
	font-size: 95%;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-code_window-FootE-Column1-Footer1
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Courier New';
	font-size: 95%;
	font-weight: normal;
	font-style: normal;
	border-right-width: 1px;
	border-right-color: #d2d2d2;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-code_window-FootE-Column1-Footer1 p
{
	font-family: 'Courier New';
	font-size: 95%;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-code_window-FootF-Column1-Footer1
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Courier New';
	font-size: 95%;
	font-weight: normal;
	font-style: normal;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-code_window-FootF-Column1-Footer1 p
{
	font-family: 'Courier New';
	font-size: 95%;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-code_window-FootH-Column1-Footer1
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Courier New';
	font-size: 95%;
	font-weight: normal;
	font-style: normal;
	border-right-width: 1px;
	border-right-color: #d2d2d2;
	border-right-style: solid;
}

.TableStyle-code_window-FootH-Column1-Footer1 p
{
	font-family: 'Courier New';
	font-size: 95%;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-code_window-FootD-Column1-Footer1
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Courier New';
	font-size: 95%;
	font-weight: normal;
	font-style: normal;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-code_window-FootD-Column1-Footer1 p
{
	font-family: 'Courier New';
	font-size: 95%;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-code_window-FootC-Column1-Footer1
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Courier New';
	font-size: 95%;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-code_window-FootC-Column1-Footer1 p
{
	font-family: 'Courier New';
	font-size: 95%;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-code_window-FootB-Column1-Footer1
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Courier New';
	font-size: 95%;
	font-weight: normal;
	font-style: normal;
	border-right-width: 1px;
	border-right-color: #d2d2d2;
	border-right-style: solid;
}

.TableStyle-code_window-FootB-Column1-Footer1 p
{
	font-family: 'Courier New';
	font-size: 95%;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-code_window-FootA-Column1-Footer1
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Courier New';
	font-size: 95%;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-code_window-FootA-Column1-Footer1 p
{
	font-family: 'Courier New';
	font-size: 95%;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-code_window-FootG-Column1-Footer1
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Courier New';
	font-size: 95%;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-code_window-FootG-Column1-Footer1 p
{
	font-family: 'Courier New';
	font-size: 95%;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-code_window-Body-Body1
{
	page-break-inside: auto;
	column-break-inside: auto;
}

.TableStyle-code_window-BodyI-Column1-Body1
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eff5ff;
	font-family: 'Courier New';
	font-size: 95%;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-code_window-BodyI-Column1-Body1 p
{
	font-family: 'Courier New';
	font-size: 95%;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-code_window-BodyE-Column1-Body1
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eff5ff;
	border-bottom-width: 1px;
	border-bottom-color: #d2d2d2;
	border-bottom-style: solid;
	font-family: 'Courier New';
	font-size: 95%;
	font-weight: normal;
	font-style: normal;
	border-right-width: 1px;
	border-right-color: #d2d2d2;
	border-right-style: solid;
}

.TableStyle-code_window-BodyE-Column1-Body1 p
{
	font-family: 'Courier New';
	font-size: 95%;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-code_window-BodyF-Column1-Body1
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eff5ff;
	border-bottom-width: 1px;
	border-bottom-color: #d2d2d2;
	border-bottom-style: solid;
	font-family: 'Courier New';
	font-size: 95%;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-code_window-BodyF-Column1-Body1 p
{
	font-family: 'Courier New';
	font-size: 95%;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-code_window-BodyH-Column1-Body1
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eff5ff;
	font-family: 'Courier New';
	font-size: 95%;
	font-weight: normal;
	font-style: normal;
	border-right-width: 1px;
	border-right-color: #d2d2d2;
	border-right-style: solid;
}

.TableStyle-code_window-BodyH-Column1-Body1 p
{
	font-family: 'Courier New';
	font-size: 95%;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-code_window-BodyD-Column1-Body1
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eff5ff;
	border-bottom-width: 1px;
	border-bottom-color: #d2d2d2;
	border-bottom-style: solid;
	font-family: 'Courier New';
	font-size: 95%;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-code_window-BodyD-Column1-Body1 p
{
	font-family: 'Courier New';
	font-size: 95%;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-code_window-BodyC-Column1-Body1
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eff5ff;
	font-family: 'Courier New';
	font-size: 95%;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-code_window-BodyC-Column1-Body1 p
{
	font-family: 'Courier New';
	font-size: 95%;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-code_window-BodyB-Column1-Body1
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eff5ff;
	font-family: 'Courier New';
	font-size: 95%;
	font-weight: normal;
	font-style: normal;
	border-right-width: 1px;
	border-right-color: #d2d2d2;
	border-right-style: solid;
}

.TableStyle-code_window-BodyB-Column1-Body1 p
{
	font-family: 'Courier New';
	font-size: 95%;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-code_window-BodyA-Column1-Body1
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eff5ff;
	font-family: 'Courier New';
	font-size: 95%;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-code_window-BodyA-Column1-Body1 p
{
	font-family: 'Courier New';
	font-size: 95%;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-code_window-BodyG-Column1-Body1
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eff5ff;
	font-family: 'Courier New';
	font-size: 95%;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-code_window-BodyG-Column1-Body1 p
{
	font-family: 'Courier New';
	font-size: 95%;
	font-weight: normal;
	font-style: normal;
}


